POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=crit_db
POSTGRES_PORT=5432

APP_DB_USER=crit_app
APP_DB_PASSWORD=crit_app

PLATFORM_DB_USER=crit_platform_app
PLATFORM_DB_PASSWORD=crit_platform_app
