APP_ENV=production
MIGRATION_DATABASE_URL=INJECT_MIGRATOR_URL_FROM_AWS_SECRETS_MANAGER
APP_DB_USER=crit_app
APP_DB_PASSWORD=INJECT_FROM_AWS_SECRETS_MANAGER
PLATFORM_DB_USER=crit_platform
PLATFORM_DB_PASSWORD=INJECT_FROM_AWS_SECRETS_MANAGER
