APP_ENV=local
POSTGRES_DB=crit_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=local_owner_password
POSTGRES_PORT=5432
MIGRATION_DATABASE_URL=postgresql://postgres:local_owner_password@localhost:5432/crit_db
APP_DB_USER=crit_app
APP_DB_PASSWORD=local_app_password
PLATFORM_DB_USER=crit_platform_app
PLATFORM_DB_PASSWORD=local_platform_password
